body{
  font-family: "Roboto", sans-serif;;
  font-size: 1rem;
  color: #515151;
}

.cart-section.row {
  padding: 55px 0px 63px;
}

.cart-header {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background-color: #e13b3f;
  padding: 11px;
}

.cart-products {
  margin-top: 18px;
}
.cart-product {
  padding: 10px 0px;
  border-bottom: 1px solid #ededed;
}

.cart-prod, .cart-qnty, .cart-price{
  padding: 30px 0px;
}
.cart-product-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.remove-cart {
  background: transparent;
  border: none;
  color: #e13b3f;
}
.cart-right {
  background-color: #e7e7e7;
  padding: 23px;
}

.right-header {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
  margin-bottom: 35px;
}
.promo-section, .subtotal-section, .total-section{
  padding: 20px 0px;
}
div#cart-collapse, div#cart-collapse2 {
  padding: 15px 0px 0px;
}
input.promo-code {
  margin-right: 4px;
}

i.fas.fa-caret-down {
  margin-left: 10px;
}
.cart-seperator {
  border-bottom: 1px solid #b5b5b5;
}
.promo-code, .apply-button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.apply-button{
  border: none;
  color: white;
  text-transform: uppercase;
  background: #f92c37;
}
.tax-field-section {
  margin: 15px 0px;
}
.tax-field-section div{
  margin-bottom: 10px;
}

.tax-field{
  padding: 6px;
  border: none;
  border-radius: 3px;
}
.total-section.clearfix {
    font-size: 1.2rem;
    font-weight: bold;
}
.checkout-btn{
  border: none;
  color: white;
  text-transform: uppercase;
  background: #f92c37;
  padding: 15px;
}
