html{
	font-size: 14px;
}

.pink-text{
	color:#f92c37;
}
.main-body{
	height: 100vh;
	width:100%;
	background-image: url('../images/assets/home-image.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.white-overlay{
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	z-index: 10;
}

.social-icons ul{
	padding-left:0px;
}

.social-icons ul li {
	font-size: 1.4rem;
	color: #3b3b3b;
	list-style: none;
	display: inline-block;
	padding: 0 0.37rem;
}

input[type="checkbox"]:checked  ~ .fa-facebook-f{
	color:white;
}

i.fab.fa-facebook-f:hover {
	color: #3b5998;
}

i.fab.fa-instagram:hover {
	color: #cd486b;
}

i.fab.fa-twitter:hover {
	color: #55acee;
}

i.fab.fa-youtube:hover {
	color: #ff0000;
}

.logo{
	margin-bottom: 10px;
}

.logo-section{
	bottom: 0;
	position: absolute;
	margin-bottom: 1%;
	left: 2%;
}

/* TOP BAR */
.t-title {
	text-align: center;
}

.t-title a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 0px 8px;
}

.container-fluid.top-bar {
	padding: 15px 0px;
}

span.cart-count {
	background-color: white;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: inline-block;
	color: #868686;
	vertical-align: middle;
	margin: 0px 7px;
}

/* CSS FOR MENU */

#navcheck {
	position: fixed;
	opacity: 0;
}

label {
	position: absolute;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
label::before {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(18, 67, 100, 0.6);
	content: '';
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
	position: fixed;
	top: 2.8em;
	left: 2.8em;
	z-index: 3;
	width: 2.8em;
	height: 2.8em;
	margin: 0;
	padding: 0;
	transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before,
label .burger .bar, label .burger::after {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 17%;
	background: white;
	content: '';
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
	top: 44%;
}
label .burger::before {
	top: 0;
	transform-origin: top left;
}
label .burger::after {
	bottom: 0;
	transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
	opacity: .75;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	transform: translate3d(0, 0, 0);
	/* material acceleration */
	transform: translateX(-100%);
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/*change*/
nav::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 20em;
	background: white;
	/* background: #ff6089; */
	content: '';
	transform: skewX(0deg) translateX(-100%);
	transform-origin: bottom left;
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 28em) {
	nav::before {
		width: 29em;
	}
}
nav a {
	margin: .35em 0;
	padding: .14em 1.4em;
	font-size: 1.07rem;
	display: inline-block;
	/* color: white; */
	color: #2a2a2a;
	text-decoration: none;
	font-weight: 500;
	transform: translateX(-100%);
	transition: color .15s, transform .5s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
	transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
	transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
	transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
	transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
	transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
	transition-delay: 0s, 350ms;
}
nav a:nth-child(7) {
	transition-delay: 0s, 400ms;
}
nav a:hover, nav a:focus {
	color: black;
}

nav a:hover{
	transform: translate(0px, -5px) !important;
	transition: transform .25s ease-in-out;
	text-decoration: none;
}

main {
	overflow: hidden;
}
main .content {
	transform: translate3d(0, 0, 0);
	/* material acceleration */
	will-change: transform, filter;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id="navcheck"]:checked + label::before {
	opacity: 1;
	pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
	width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
	transform: rotate(45deg) translateY(-50%);
	background: #ff7b7b;
}
[id="navcheck"]:checked + label .burger::after {
	transform: rotate(-45deg) translateY(50%);
	background: #ff7b7b;
}
[id="navcheck"]:checked + label .burger .bar {
	transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
	transform: translateX(0);
}
/*change*/
[id="navcheck"]:checked ~ nav::before {
	transform: skewX(0deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
	transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
	transform: translateX(2.1em);
	transform-origin: left center;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	/* quite laggy :S */
}

/* helper */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* misc */
body {
	overflow-x: hidden;
	/* background: #444; */
	color: #2b2b2b;
	font: 1em "lato";
}

main {
	background: #3498db;
	padding: 5% 0;
}

article {
	width: 80%;
	margin: 0 auto;
	font-size: 0.9rem;
}
@media (min-width: 42em) {
	article {
		width: 50%;
	}
}

h1 {
	font: 1.8em/1.4 "roboto condensed";
	font-weight: 700;
}


/* Crumbs CSS*/
.breadcrumbs {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

.breadcrumbs li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	font-family:"Roboto", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .04em;
	line-height: 20px;
	color: hsl(0, 0%, 30%);
}

.breadcrumbs li a {
	display: block;
	padding: 0 40px 0 0px;
	color: #2a2a2a;
	text-decoration: none;
	height: 20px;
	position: relative;
	perspective: 700px;
}

.breadcrumbs li a:after {
	content: '';
	width: 10px;
	height: 10px;
	border-color: #ff7b7b;
	border-style: solid;
	border-width: 2px 2px 0 0;
	margin-top: 4px;

	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;

	position: absolute;
	right: 20px;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	transition: all .15s ease;
	-webkit-transform: rotateZ(45deg) skew(-1deg, -1deg);
	-moz-transform: rotateZ(45deg) skew(-1deg, -1deg);
	-ms-transform: rotateZ(45deg) skew(-1deg, -1deg);
	transform: rotateZ(45deg) skew(-1deg, -1deg);
}


.breadcrumbs li a:hover:after {
	right: 15px;
	-webkit-transform: rotateZ(45deg) skew(-1deg, -1deg);
	-moz-transform: rotateZ(45deg) skew(-1deg, -1deg);
	-ms-transform: rotateZ(45deg) skew(-1deg, -1deg);
	transform: rotateZ(45deg) skew(-1deg, -1deg);
}

.web-content-main{
	margin-top: 30px;
}

.filters .pink-text{
	font-weight: 600;
	font-size: 20px;
}

.panel.panel-default {
	border-radius: 0px;
	-webkit-box-shadow: -2px 12px 13px -7px rgba(0,0,0,0.1);
	-moz-box-shadow: -2px 12px 13px -7px rgba(0,0,0,0.1);
	box-shadow: -2px 12px 13px -7px rgba(0,0,0,0.1);
	background-color: white;
}

.pre-footer {
	color: #8a8a8a;
	background-color: #f3f3f3;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1rem;
}
.row.pre-footer-row {
	padding: 35px 0;
}
.foot-header {
	color: #e13b3f;
	font-size: 1.2rem;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
}

.about-list li {
	padding-bottom: 15px;
}

.about-list li a{
	text-decoration: none;
	cursor: pointer;
	list-style: square;
	color: inherit;
}

.contact i, .our-shops i{
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

.contact p, .our-shops p{
	display: inline-block;
}

.contact-block {
	margin-bottom: 10px;
}

.pink-btn{
	background-color: #e13b3f;
	color:white;
}
.footer-row{
	padding: 10px 0;
}
.footer-logo img {
	max-width: 115px;
	padding: 10px 0px;
}
.footer-social span {
	font-size: 1.8rem;
	padding: 20px 10px;
	/* margin-top: 10px; */
	vertical-align: middle;
	display: inline-block;
	color: #9f9f9f;
}
.footer-cards img {
	padding: 20px 0px;
}

.footer-id{
	text-align: right;
	color: #8a8a8a;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding: 29px 0px;
	font-size: 1rem;
}
